html {
	font-family: 'Arial';
	background-color: #FFF6F6;
	color: #553E4E;
}

button, select {
	border-radius: 3px;
	text-shadow: none;
	border: none;
	box-shadow:n one;
	cursor: pointer;
	font-weight: bold;
}
#wrapper {
	display: grid;
	grid-template-areas:
		'title'
		'problem-1'
		'problem-2';
}
#title {
	grid-area: title;
}

#title h1, #title h2 {
	margin: 0 auto;
}

#title a {
	color: #E0479E;
}

#wrapper-problem-2 {
	grid-area: problem-2;
	padding: 20px;
}

@media only screen and (min-width: 800px) {
	#wrapper {
		display: grid;
		grid-template-areas:
			'title title'
			'problem-1 problem-2';
		grid-template-rows: 100%;
		grid-template-columns: 50vw 50vw;
	}
	#wrapper-problem-1,
	#wrapper-problem-2 {
		border: 2px solid #553E4E;
	}
}
@media only screen and (min-width: 1000px) {
	#wrapper {
		display: grid;
		grid-template-areas:
			'. title title .'
			'. problem-1 problem-2 .';
		grid-template-columns: auto 35vw 35vw auto;
		grid-column-gap: 20px;
	}
}